body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.box{
  height: 29rem;
  width:40rem;
  background-color: rgb(34, 68, 83);
}
.input{
  border-radius: 50px;
  padding: 7px 7px;
  border-color:  rgb(34, 68, 83);
  
}
.image {
  height: 50px;
}

.imgAnimation {
  animation: leftRight 2s ease-in-out infinite alternate-reverse both;
}

@keyframes leftRight {
  0% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(-10px);
  }
}
.wave-one {
  opacity: 0.3;
  position: absolute;
  top: 120%;
  left: 50%;
  background: white;
  width: 50rem;
  height: 30rem;
  margin-left: -25rem;
  margin-top: -20rem;
  transform: translateY(0);
  border-radius: 43%;
  animation: drift 300ms infinite linear;
  z-index: 1;
}

.wave-two {
  opacity: 0.2;
  position: absolute;
  top: 130%;
  left: 30%;
  background: white;
  width: 30rem;
  height: 20rem;
  margin-left: -15rem;
  margin-top: -10rem;
  transform: translateY(0);
  border-radius: 43%;
  animation: drift 500ms infinite linear;
  z-index: 2 !important;
}

.wave-three {
  opacity: 0.1;
  position: absolute;
  top: 140%;
  left: 70%;
  background: white;
  width: 40rem;
  height: 25rem;
  margin-left: -20rem;
  margin-top: -15rem;
  transform: translateY(0);
  border-radius: 43%;
  animation: drift 700ms infinite linear;
  z-index: 3 !important;
}

@keyframes drift {
  0% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(10px);
  }
}
.pp{
  padding-top: 8rem;
}